:root {
    --background-primary: #171023;
    --background-secondary: #272033;
    --background-widget: #312450;
    --text-color-primary: #aaa6b1;
    --text-color-hover: #ddd;
    --border-color: #999;
    --github-src: url("/svg/github.svg");
    --background-primary-alt: #FFF;
    --background-secondary-alt: #EEE;
    --background-widget-alt: #d0c5eeb0;
    --text-color-primary-alt: #121212;
    --text-color-hover-alt: #A7A;
    --border-color-alt: #999;
    --github-src-alt: url("/svg/github-alt.svg");
    --code-background: #171023;
    --code-method: #DCDCAA;
    --code-class: #4EC9B0;
    --code-comment: #6A9955;
    --code-keyword: #569cd6;
    --code-interface: #b8d7a3;
    --code-typeParam: #b8d7a3;
    --code-control: #C586C0;
    --code-struct: #86C691;
    --code-punctuation: #dfdfdf;
    --code-localName: #9CDCFE;
    --code-parameter: #9CDCFE;
    --code-background-alt: #FFF;
    --code-method-alt: #6b6b52;
    --code-class-alt: #338373;
    --code-comment-alt: #4f723f;
    --code-keyword-alt: #396c96;
    --code-interface-alt: #7f9471;
    --code-typeParam-alt: #879d78;
    --code-control-alt: #875e83;
    --code-struct-alt: #609068;
    --code-punctuation-alt: #78757b;
    --code-localName-alt: #6f9db6;
    --code-parameter-alt: #73a1ba;
}
body {
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
    margin: 0;
}
body>article {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}
#night:not(:checked)~article {
    --background-primary: var(--background-primary-alt);
    --background-secondary: var(--background-secondary-alt);
    --background-widget: var(--background-widget-alt);
    --text-color-primary: var(--text-color-primary-alt);
    --text-color-hover: var(--text-color-hover-alt);
    --border-color: var(--border-color-alt);
    --github-src: var(--github-src-alt);
    --code-background: var(--code-background-alt);
    --code-method: var(--code-method-alt);
    --code-class: var(--code-class-alt);
    --code-comment: var(--code-comment-alt);
    --code-keyword: var(--code-keyword-alt);
    --code-interface: var(--code-interface-alt);
    --code-typeParam: var(--code-typeParam-alt);
    --code-control: var(--code-control-alt);
    --code-struct: var(--code-struct-alt);
    --code-punctuation: var(--code-punctuation-alt);
    --code-localName: var(--code-localName-alt);
    --code-parameter: var(--code-parameter-alt);
}
#night:not(:checked)~article b, #night:not(:checked)~article .box h2 {
    color: #505;
}
#night:not(:checked)~article .accent {
    color: #505;
    font-weight: bold;
}
#night:not(:checked)~article .accent:hover {
    color: var(--text-color-hover-alt);
}
#night~article {
    background-color: var(--background-primary);
    color: var(--text-color-primary);
}
#night {
    position: fixed;
    float: right;
    right: 3em;
    z-index: 2;
    color: var(--text-color-primary);
    cursor: pointer;
    accent-color: darkgray;
}
#night::before {
    content: 'Night';
    position: fixed;
    right: 3em;
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
}
#night:not(:checked)::before {
    color: var(--text-color-primary-alt);
}
#night input {
    vertical-align: text-top;
}
h1 {
    font-size: xx-large;
}
p {
    line-height: 1.75;
    margin-block-end: 0;
    padding-block-end: 2em;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    border-bottom-color: transparent;
    color: var(--text-color-hover);
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-secondary);
    border-bottom: solid 1.5px var(--border-color);
    box-sizing: border-box;
}
nav img {
    vertical-align: text-top;
}
nav span:first-child a:first-child {
    font-weight: 500;
}
#nav-github, #nav-linkedin {
    vertical-align: middle;
}
#nav-github>img {
    content: var(--github-src);
}
#nav-linkedin>img {
    content: url("/svg/linkedin.svg");
}
footer {
    background-color: var(--background-secondary);
    position: absolute;
    width: 100%;
}
footer div {
    padding: 3em 2em 1.5em 2em;
}
main {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}
li>h3 {
    margin-top: 8px;
}
.overview h3 {
    font-weight: lighter;
}
.overview ul:last-child
{
    margin-bottom: 4em;
}
.blog p {
    margin-top: -1em;
    white-space: pre-line;
}
.blog h1+p {
    margin-top: -3em;
}
.blog h1 {
    margin: 0 0 1.3em 0;
    padding-bottom: 0.35em;
}
.blog h3 {
    margin-top: 2em;
}
.blog p+h3 {
    margin-top: 0;
}
.blog h4 {
    font-size: small;
    margin-top: 1em;
    margin-bottom: 1em;
}
.accent {
    color: #FFFFFFCC;
}
a.accent:hover {
    color: #EEE;
}
sup.tooltip {
    position: relative;
    display: inline-block;
}
sup.tooltip>span {
    visibility: hidden;
    width: 300px;
    background-color: var(--background-secondary);
    color: var(--text-color-primary);
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}
sup.tooltip:hover>span {
    visibility: visible;
}
.fragment {
    position: absolute;
    margin-top: -48px;
}
.box {
    background-color: var(--background-widget);
    color: var(--text-color-primary);
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(200, 200, 200, 0.12),
        0 2px 3px rgba(250, 250, 250, 0.64),
        0 -1px 0 rgba(250, 250, 250, 0.32);
    font-weight: normal;
    line-height: 1.75;
}
.box p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 12pt;
}
pre.background {
    font-family: monaco, Consolas, LucidaConsole, monospace;
    background-color: var(--background-primary);
    overflow: auto;
    color: var(--code-punctuation);
    margin: -8px 0px -16px -160px;
    font-size: 14px;
}
pre.background:last-child {
    margin-bottom: 36px;
}
pre.background * {
    font-size: 14px;
}
.method {
    color: var(--code-method);
}
.class {
    color: var(--code-class);
}
.comment {
    color: var(--code-comment);
}
.keyword {
    color: var(--code-keyword);
}
.interface {
    color: var(--code-interface);
}
.typeParam {
    color: var(--code-typeParam);
}
.control {
    color: var(--code-control);
}
.struct {
    color: var(--code-struct);
}
.punctuation {
    color: var(--code-punctuation);
}
.localName {
    color: var(--code-localName);
}
.parameter {
    color: var(--code-parameter);
}
.img-container {
  overflow: auto;
}
@media screen and (min-width: 1px) {
    #night {
        top: 12px;
        height: 15px;
    }
    #night::before {
        font-size: 15px;
        top: 12px;
        transform: translate(-50%, 0%);
    }
    .box {
        max-width: 80%;
    }
    nav {
        padding: 12px 32px;
        font-size: 15px;
    }
    nav span:not(:last-child) {
        margin-right: 12px;
    }
    nav span:first-child a:first-child {
        margin-right: 12px;
    }
    nav img {
        max-height: 15px;
    }
    p, span {
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {
    sup.tooltip>span {
        width: 50vw;
        padding: 8px;
    }
}
@media screen and (min-width: 500px) {
    .box {
        max-width: 540px;
        margin: 100px auto 16px;
        padding: 20px 0px 20px 32px;
    }
}
@media screen and (min-width: 700px) {
    #night {
        top: 24px;
        height: 18px;
    }
    #night::before {
        font-size: 18px;
        top: 24px;
        transform: translate(-20%, -5%);
    }
    nav {
        padding: 24px 2em;
        font-size: 18px;
    }
    nav span:not(:last-child) {
        margin-right: 24px;
    }
    nav span:first-child a:first-child {
        margin-right: 24px;
    }
    nav span:first-child a:not(:first-child):not(:last-child) {
        margin-right: 6px;
    }
    nav img {
        max-height: 18px;
    }
    p, span {
        font-size: 18px;
    }
}