:root {
    --background-primary: #171023;
    --background-secondary: #272033;
    --background-widget: #312450;
    --text-color-primary: #aaa6b1;
    --text-color-hover: #ddd;
    --border-color: #999;
    --background-primary-alt: #FFF;
    --background-secondary-alt: #EEE;
    --background-widget-alt: #d0c5eeb0;
    --text-color-primary-alt: #121212;
    --text-color-hover-alt: #A7A;
    --border-color-alt: #999;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
body>article {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}
#night:not(:checked)~article {
    --background-primary: var(--background-primary-alt);
    --background-secondary: var(--background-secondary-alt);
    --background-widget: var(--background-widget-alt);
    --text-color-primary: var(--text-color-primary-alt);
    --text-color-hover: var(--text-color-hover-alt);
    --border-color: var(--border-color-alt);
}
#night:not(:checked)~article b {
    color: #505;
}
#night:not(:checked)~article .accent {
    color: #505;
    font-weight: bold;
}
#night:not(:checked)~article .accent:hover {
    color: var(--text-color-hover-alt);
}
#night~article {
    background-color: var(--background-primary);
    color: var(--text-color-primary);
}
#night {
    position: fixed;
    float: right;
    right: 3em;
    z-index: 2;
    color: var(--text-color-primary);
    cursor: pointer;
    accent-color: darkgray;
}
#night::before {
    content: 'Night Mode';
    position: relative;
    display: inline-block;
    right: 5.5em;
    bottom: 0.2em;
    margin-right: -5em;
    font-family: Arial, Helvetica, sans-serif;
}
#night:not(:checked)::before {
    color: var(--text-color-primary-alt);
}
#night input {
    vertical-align: text-top;
}
h1 {
    font-size: xx-large;
}
p {
    line-height: 1.75;
    margin-block-end: 0;
    padding-block-end: 2em;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    border-bottom-color: transparent;
    color: var(--text-color-hover);
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: large;
    background-color: var(--background-secondary);
    border-bottom: solid 1.5px var(--border-color);
    box-sizing: border-box;
}
header a {
    margin-left: 10px;
}
footer {
    background-color: var(--background-secondary);
    position: absolute;
    width: 100%;
}
footer div {
    padding: 3em 2em 1.5em 2em;
}
main {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}
li>h3 {
    margin-top: 8px;
}
.overview h3 {
    font-weight: lighter;
}
.blog p {
    margin-top: -1em;
    white-space: pre-line;
}
.blog h1 {
    margin: 0 0 1.3em 0;
    padding-bottom: 0.35em;
}
.blog h3 {
    margin-top: 2em;
}
.blog h4 {
    font-size: small;
    margin-top: 1em;
    margin-bottom: 1em;
}
.accent {
    color: #FFFFFFCC;
}
a.accent:hover {
    color: #EEE;
}
.box {
    background-color: var(--background-widget);
    color: var(--text-color-primary);
    /* color: #ffffff8c; */
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(200, 200, 200, 0.12),
        0 2px 3px rgba(250, 250, 250, 0.64),
        0 -1px 0 rgba(250, 250, 250, 0.32);
    font-weight: normal;
    line-height: 1.75;
}
.box h2, b {
    color: #FFFFFFDD;
}
.box a:hover {
    color: #FFF;
}
.box p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 12pt;
}
@media screen and (min-width: 1px) {
    #night {
        top: 1em;
    }
    #night::before {
        font-size: medium;
    }
    .small-only {
        display: inline;
    }
    .box {
        max-width: 80%;
    }
    header {
        padding-bottom: 12px;
    }
    nav>.nav-top {
        display: none;
    }
    nav>.nav-bottom {
        padding-left: 16px;
        padding-top: 12px;
        font-size: medium;
    }
    p, span {
        font-size: medium;
    }
}
@media screen and (min-width: 500px) {
    .box {
        max-width: 540px;
        margin: 100px auto 16px;
        padding: 20px 0px 20px 32px;
    }
}
@media screen and (min-width: 700px) {
    #night {
        top: 4.65em;
    }
    #night::before {
        font-size: large;
    }
    .small-only {
        display: none;
    }
    header {
        padding-bottom: 32px;
    }
    nav>.nav-top {
        display: inline-flex;
        margin-bottom: 16px;
        padding-left: 32px;
        margin-top: 24px;
    }
    nav>.nav-top a {
        border-bottom: dotted 1px var(--border-color);
        padding: 0;
    }
    nav>.nav-bottom {
        padding-left: 32px;
        padding-top: 0;
        font-size: large;
    }
    p, span {
        font-size: large;
    }
}